@font-face{font-family:"ZCOOL KuaiLe";src:url(ZCOOLKuaiLe.woff2) format("woff2");font-display:swap}
@font-face{font-family:"Yusei Magic";src:url(YuseiMagic.woff2) format("woff2");font-display:swap}
@font-face{font-family:"Comfortaa";src:url(Comfortaa.woff2) format("woff2");font-weight:300 700;font-display:swap}
@font-face{font-family:"Baloo Bhaijaan 2";src:url(BalooBhaijaan2.woff2) format("woff2");font-weight:400 800;font-display:swap}
@font-face{font-family:"Jua";src:url(Jua.woff2) format("woff2");font-display:swap}
@font-face{font-family:"Itim";src:url(Itim.woff2) format("woff2");font-display:swap}
